repository hackage.haskell.org
  url: http://hackage.haskell.org/

remote-repo-cache: /root/.cabal/packages
world-file: /root/.cabal/world
extra-prog-path: /root/.cabal/bin
build-summary: /root/.cabal/logs/build.log
remote-build-reporting: anonymous
jobs: $ncpus

program-default-options
     gcc-options: -fsanitize=address -fsanitize-coverage=edge,indirect-calls,8bit-counters,trace-cmp
     ghc-options: -fllvm -optc="-fsanitize=address" -optc="-fsanitize-coverage=edge,indirect-calls,8bit-counters,trace-cmp" -optl="-fsanitize=address" -optl="-fsanitize-coverage=edge,indirect-calls,8bit-counters,trace-cmp"
